body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header{
    background-color: rgba(217, 113, 20, 1);
    color: rgba(27, 30, 30, 1);
    padding: 15px;
}

*{
    margin: 0;
    padding: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    margin-right: 90px;
    align-content: center;
}

nav ul li a{
    color: rgba(27, 30, 30, 1);
}

footer{
    background-color: rgba(217, 113, 20, 1);
    color: rgba(27, 30, 30, 1);
    padding: 20px;
    text-align: center;
}

.logo{
    width: 50px;
    height: 50px;
}

.sobreNos{
    border: 1px solid rgba(27, 30, 30, 1);
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    background-color: rgb(220, 220, 220);
}

.catalogo{
    border: 1px solid rgba(27, 30, 30, 1);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    background-color: rgb(220, 220, 220);
}

.contato{
    border: 1px solid rgba(27, 30, 30, 1);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    background-color: rgb(220, 220, 220);
}
form{
    max-width: 400px;
    margin: 0px;
}

label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

form input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    margin-bottom: 15px;
}

form button{
    padding: 10px 20px;
    background-color:rgb(220, 220, 220);
    color: rgba(27, 30, 30, 1);
    cursor: pointer;
    border-color: rgb(220, 220, 220);
    border-radius: 5px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.search-item {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px;
    border: 2px solid rgba(27, 30, 30, 1);
    border-radius: 4px;
    margin: 0;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
}

body {
    background-image: url(./imagens/mochilas-fundo.png);
}

.conteudo{
    padding: 30px;
}