body{
    /*Estilos referentes ao body*/
    background-color: rgba(196, 240, 240, 0.729);
    font-family:Verdana, sans-serif;
    color: rgb(15, 15, 15);
}
h1{
    /*Estilos referentes ao h1*/
    text-align: center;
    color: rgba(234, 234, 26, 1);
    margin-top: 80px;
}

ul{
    /*Estilos referentes ao ul*/
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
}

li{
    /*Estilos referentes às linhas do ul*/
    margin:10px;
}

a{
    display: block;
    text-align: center;
    color: rgb(18, 18, 18);
    background-color: rgba(24, 119, 242, 1);
    padding:10px 15px;
    border-radius: 10px;
    text-decoration:none;
    transition: all 0.5s ease-in-out;
    /*Estilos referentes às tags <a>*/
}

a:hover{
    background-color: rgb(7, 140, 185);
    color: rbg(16, 16, 16);
    /* Inserir um hover na tag a*/
}

.twitter {
    background-color: rgba(29, 155, 240, 1);
}

.instagram {
    background-image: linear-gradient(to bottom right, rgba(72, 104, 214, 1),
     rgba(177, 52, 163, 1), rgba(247, 109, 50, 1),rgba(255, 220, 130, 1)); 
}