/* Essa classe é aplicada à div que contém a calculadora */
.calculadora{
    background-color: aqua; /* Cor de fundo da calculadora */
    font-size: 2rem; /* Tamanho da fonte */
    padding: 20px; /* Espaçamento interno */
    top: 50%; /* Posicionamento vertical */
    left: 50%; /* Posicionamento horizontal */
    border-radius: 10px; /* Raio do canto da borda */
    border: 1px solid rgb(62, 61, 61); /* Borda com cor e espessura */
    background-image: linear-gradient(rgb(115, 163, 3), rgb(25, 28, 107)); /* Gradiente linear como imagem de fundo */
    flex-direction: column; /* Orientação das caixas flexíveis */
    display: flex; /* Exibição como flexível */
    align-items: center; /* Alinhamento vertical */
    position: fixed; /* Posicionamento fixo na tela */
    transform: translate(-50%, -50%); /* Centralização na tela */
}/*Fechamento calculadora*/

/* Essa classe é aplicada à div que representa o display da calculadora */
.tela{
    background-color: azure; /* Cor de fundo do display */
    color: rgb(3, 3, 102); /* Cor do texto do display */
    height: 80px; /* Altura do display */
    width: 93%; /* Largura do display */
    border-radius: 10px; /* Raio do canto da borda */
    border: 3px solid rgb(3, 3, 102); /* Borda com cor e espessura */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento inferior */
    /* font-size: 3rem; */ /* Tamanho da fonte (comentado) */
    justify-content: flex-end; /* Alinhamento vertical do conteúdo */
    display: flex; /* Exibição como flexível */
    align-items: center; /* Alinhamento vertical */
}

/* Essa classe é aplicada à div que representa o display da calculadora */
.configBotao{
    display: flex; /* Exibição como flexível */
    flex-direction: column; /* Orientação das caixas flexíveis */
    align-items: center; /* Alinhamento vertical */
}

/* Classe para configuração das linhas*/
.linha{
    display: flex; /* Exibição como flexível */
    margin-top: 5px; /* Espaçamento superior */
}

/* A classe .button define o estilo dos elementos <button> no código CSS fornecido. */
button{
    font-size: 2rem; /* Tamanho da fonte dos botões */
    width: 80px; /* Largura dos botões */
    height: 80px; /* Altura dos botões */
    margin-right: 5px; /* Espaçamento direito entre os botões */
    border: 1px solid rgb(4, 150, 4); /* Borda com cor e espessura */
    border-radius: 10px; /* Raio do canto da borda */
    cursor: pointer; /* Cursor ao passar o mouse */
    background-color: beige; /* Cor de fundo dos botões */
    color: rgb(3, 3, 102); /* Cor do texto dos botões */
}

/* A pseudo-classe :hover é usada para estilizar um elemento quando o cursor do mouse está sobre ele. No caso do código em questão, o seletor button:hover especifica o estilo a ser aplicado quando o cursor estiver sobre um botão. */
button:hover{
    background-color: azure; /* Cor de fundo ao passar o mouse */
}

/* Classe limpar */
.limpar{
    width: 120px; /* Largura específica para o botão "Limpar" */
}