<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <h1>Usuários cadastrados</h1>

        <!-- processo de listagem dos usuários e senhas cadastrados nos vetores -->
        <div>
            <div class="listar">
            <button @click="listarUsuarios">
                {{mostrarLista ? "Ocultar Lista" : "Mostrar Lista"}}
            </button>
            </div><!--Fechamento Mostrar Lista-->
            <!-- lista dos usuários -->
                <ol v-if="mostrarLista">
                    <li v-for="(usuario, index) in usuarios">
                    Usuário: {{usuario}}, Senha: {{senhas[index]}}
                    <button @click="excluirUsuario(usuario)">Excluir</button>
                    </li><!--Fechamento linha-->
                </ol> <!--fechamento lista ordenada (ordened list)-->
            
        </div> <!-- fechamento div-->
    </div><!--Fechamento div principal-->
    <script src="process.js"></script>
    </div>
</body>
</html>