/* GERAL */
*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0;
}

/* menuhamb */
#menuHamb {
    display:none;
}

.menuBotao {
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
    right: 5px;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after
{
    display: block;
    background-color: rgb(221, 198, 230);
    height: 3px;
    border-radius: 7px;
    position: absolute;
    transition: background-color 0.5s ease;
    width: 100%;
    content: "";
}

.menuBotao:hover .hamburguer,
.menuBotao:hover .hamburguer::before,
.menuBotao:hover .hamburguer::after{
    background-color: rgb(213, 213, 213);;
}

.hamburguer::before{
    top: 8px;
    position: absolute;
    transition: background-color 0.5s ease;
}

.hamburguer::after{
    bottom: 8px;
    position: absolute;
    transition: background-color 0.5s ease;
}


/* menu */
.menu{
    list-style: none;
    background-color: rgb(221, 198, 230);
    height: 0;
    transition: 0.3s ease;
    overflow: hidden;
    right: 0%;
    top: 10%;
    box-shadow: 10px 10px 20px rgb(97, 26, 156);
    text-align: center;  
    display: none;
    color: black;
    position: absolute;
    padding: 20px;

}

label{
    border-radius: 7%;
    margin-bottom: 7px;
    margin-top: 7px;

}

.menu.open{
    height: auto;
    display: flex;
    flex-direction: column;
}

.menu li{
    margin: 10px;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: rgb(5, 0, 20);
    font-size: 1.3rem;
}

.texto-img{
    width: 50%;
    
}
/* header */
header{
    background-color: rgb(5, 0, 20);
}

/* ul header */
.ul-header{
    width: 1080px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* logo */
.logo{
    width: 68px;
    height: 68px;
}

/* Nav */
nav ul{
    list-style-type: none;
}

nav ul li{
    margin-right: 20%;
}

nav ul li a{
    color: rgb(221, 198, 230);
}

/* Login */

.erro{
    color: red;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

/* mensagens erro e sucesso */
.sucesso{
    color: green;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.img-fundo{
    background: url(./midias/colagem.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* opacity: 0.85; */
    width: 100%;
    height: 1080px;
}

/* formularios */

form{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    border-radius: 5px;
    align-items: center;
}

/* body */

body{
    background-color: black;
    color: white;
    font-size: 1 rem;
    }

/* sections cultos */

.cultos{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 50%;
    margin: 10px;
    padding: 75px;
}

/* class-contato */

.contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* paragrafos */

.p1{
    padding: 50px;
}

/* footer */
footer{
    background-color: rgb(221, 198, 230);
    color: rgb(5, 0, 20);
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

/* divs linha na página */
.div-linha{
    height: 1px;
    width: 100%;
    background-color: rgb(221, 198, 230);
    margin-bottom: 50px;
    margin-top: 50px;
}