<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de viagens</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.global.js"></script>       
</head>
<body>
    <!--Conteúdo do cabeçalho da página-->
    <header>
        <!--Seção de navegação do html-->
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#destinos">Destinos</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul><!--Fechamento lista-->
        </nav><!--Fechamento nav-->
    </header>

    <section id="home">
        <h1>{{mensagem}}</h1>
        <p>Explore o mundo conosco!</p>
    </section><!--Fechamento da seção-->
    <section id="destinos">
        <h2>Destinos Populares</h2>
        <div class="destino">
            <img src="./imagens/destinoMaceio.jpg">
            <h3>Maceió - Brasil</h3>
            <p>Maceió é a capital do estado de Alagoas, na costa leste do Brasil. Seu centro histórico abriga casas coloniais em tons pastéis, uma catedral do século 19 e o Museu de Antropologia e Folclore Théo Brandão, instalado em um casarão reformado à beira-mar. Protegida por um recife offshore, a costa é ladeada por praias de areia branca. A praia de Ponta Verde tem um calçadão com palmeiras, quiosques de praia e esportes aquáticos.</p>
        </div><!--Fechamento div destino 1-->

        <div class="destino">
            <img src="./imagens/destinoRiodeJaneiro.jpg">
            <h3>Rio de Janeiro - Brasil</h3>
            <p>O Rio de Janeiro é uma enorme cidade litorânea no Brasil, famosa por suas praias de Copacabana e Ipanema, a estátua do Cristo Redentor de 38 metros no topo do Monte Corcovado e pelo Pão de Açúcar, um pico de granito com teleféricos até o cume. A cidade também é conhecida por suas extensas favelas. Seu barulhento carnaval, com desfiles de carros alegóricos, fantasias extravagantes e sambistas, é considerado o maior do mundo.</p>
        </div><!--Fechamento div destino 2-->
    </section><!--Fechamento seção destinos-->

    <section id="contato">
        <h2>Fale conosco</h2>
        <form>
            <label for="nome">Nome:</label>
            <input type="text" v-model="nome" required>

            <label for="email">Email:</label>
            <input type="email" v-model="email" required>

            <label for="msg">Mensagem:</label>
            <textarea v-model="msg" required></textarea>

            <button type="submit">Enviar</button>

        </form><!--Fechamento form-->
    </section><!--Fechamento seção contato-->

    <!--Configuração do rodapé-->
    <footer>
        <p>&copy; 2023 Style Viagens. Todos os direitos reservados.</p>
    </footer><!--Fechamento footer-->
    <!--Fazendo a chamada do script javascript-->
    <script src="process.js"></script>

</body>
</html>