body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: rgb(155,56,56);
    color: rgb (0,0,0);
    padding: 20px;
}

*{
    margin: 0;
    padding: 0;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    margin-right: 10px;
}

nav ul li a{
    color: rgb(220, 220, 220);
}

section{
    padding: 20px;
}

.destino{
    margin-bottom: 30px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
}

.destino img{
    max-width: 100%;
    height: 100%;
    margin-bottom: 15px;
    border-radius: 7px;
}

footer{
    background-color: rgb(155,56,56);
    color: rgb(220, 220, 220);
    padding: 20px;
    text-align: center;
}

form{
    max-width: 400px;
    margin: 0px;
}

label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

form input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    margin-bottom: 15px;
}

form button{
    padding: 10px 20px;
    background-color:rgb(155,56,56);
    color: rgb(220, 220, 220);
    cursor: pointer;
    border-color: rgb(220, 220, 220);
    border-radius: 5px;
}