h1{
    font-size: 36px;
    color: darkblue;
    margin-top: 0;
    margin-left: 12px;
}

p{
    font-size: 1.2rem;
    line-height: 1.2;
    color: rgb(42, 42, 42);
}

body{
    background-color: rgb(242, 243, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    margin: 0 auto;
    background-color: rgb(135,135,180);
    width: 80%;
    padding: 20px;
}

@media (max-width: 768px){
    .container {
        width: 90%;
        padding: 10px;
    }

    h1{
        font-size: 20px;
    }

    p{
        font-size: 16px;
    }
}