.erro{
    color: red;
    font-size: 1.5rem;
}

.sucesso{
    color: green;
    font-size: 1.5rem;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app{
    max-width: 500px;
    background-color: rgba(233, 233, 233, 0.664);
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.233);
    border-radius: 5px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{

    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    border-radius: 5px;
    align-items: center;
}

label{
    margin-bottom: 8px;
}

input[type="text"], input[type="password"]{
    padding: 1.3rem;
    border-radius: 50px;
    border-style: double;
    border-color: rgba(1, 1, 1, 0.233);
    margin-bottom: 10px;
    font-size: 1.5rem;
}

input[type="text"]{
    width: 50%;
}

input[type="password"]{
    width: 50%;
}

button{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    border-style: double;
    color: black;
    cursor: pointer;
    font-size: 1.1rem;
    max-width: 20%;
}

button:hover{
    background-color: rgba(1, 1, 1, 0.233) ;
}