* {
    margin: 5px;
    padding: 0;
}

#menuHamb {
    display:none;
}

.menuBotao {
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after
{
    display: block;
    background-color: rgb(205, 55, 55);
    height: 3px;
    border-radius: 7px;
    position: absolute;
    transition: background-color 0.5s ease;
    width: 100%;
    content: "";
}

.menuBotao:hover .hamburguer,
.menuBotao:hover .hamburguer::before,
.menuBotao:hover .hamburguer::after{
    background-color: rgb(235, 205, 185);
}

.hamburguer::before{
    top: 8px;
    position: absolute;
    transition: background-color 0.5s ease;
}

.hamburguer::after{
    bottom: 8px;
    position: absolute;
    transition: background-color 0.5s ease;
}

.menu{
    list-style: none;
    background-color: rgb(235, 205, 185);
    position: absolute;
    width: auto;
    height: 0;
    transition: height 0.3s ease;
    overflow: hidden;
    top: 60px;
    left: 5px;
}

.menu.open{
    height: auto;
}

.menu li{
    margin: 10px;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: rgb(205, 55, 55);
    font-size: 1.3rem;
}

