.app{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo{
    width: 80%;
    height: 80%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

button:hover{
    background-color: rgb(91, 82, 82);
}