<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="styleCadastro.css"/>
</head>
<body>
    <div id="app">
        <h1>Cadastro de novo usuário</h1>
        <form>
            <label for="newUsername">Nome de usuário</label>
            <input type="text" v-model="newUsername" required>

            <label for="newPassword">Senha</label>
            <input type="password" v-model="newPassword" required>

            <label for="confirmPassword">Confirme a senha</label>
            <input type="password" v-model="confirmPassword" required>

            <button type="submit" @click.prevent="adicionarUsuario">Cadastrar</button>

        </form><!--Fechamento formulário-->            
        <p>Usuário: {{usuario}}</p>
        <!-- <p>Senha: {{senha}}</p> -->

        <p class="erro" :class="{entrada: mostrarEntrada}">{{erro}}</p> 
        <p class="sucesso" :class="{entrada: mostrarEntrada}">{{sucesso}}</p>

        <!-- processo de listagem dos usuários e senhas cadastrados nos vetores -->
        <div>
            <div class="listar">
            <button @click="listarUsuarios">
                {{mostrarLista ? "Ocultar Lista" : "Mostrar Lista"}}
            </button>
            </div><!--Fechamento Mostrar Lista-->
            <!-- lista dos usuários -->
                <ol v-if="mostrarLista">
                    <li v-for="(usuario, index) in usuarios">
                    Usuário: {{usuario}}, Senha: {{senhas[index]}}
                    <button @click="excluirUsuario(usuario)">Excluir    </button>
                    </li><!--Fechamento linha-->
                </ol> <!--fechamento lista ordenada (ordened list)-->
            
        </div> <!-- fechamento div-->
    </div><!--Fechamento div principal-->
    <script src="process.js"></script>
</body>
</html>