.erro{
    color: red;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color: green;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

#app{
    max-width: 400px;
    background-color: rgba(151, 255, 177, 0.828);
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0px 30px rgb(121, 253, 220);
    border-style: none;
}

body{
   margin: 0px; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    font-size: 1.3rem;
}

label{
    margin-bottom: 5px;
    margin-top: 10px;
}

input[type="text"], input[type="password"]{
    padding: 1.3rem;
    border-radius: 50px;
    border-style: double;
    border-color: rgba(1, 1, 1, 0.233);
    margin-bottom: 10px;
    font-size: 1.5rem;
}

button{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    border-style:groove;
    color: black;
    cursor: pointer;
    font-size: 1.1rem;
    max-width: auto;
    border-color: rgba(1, 1, 1, 0.233);

}

button:hover{
    background-color: rgba(151, 255, 177, 0.828);
}

div{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    align-items: center;
}

ol{
    margin-top: 10px;
    list-style-type: none;
    align-items: center;
    justify-items: center;
    padding: 0;
}

li{
    margin-left: 0;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.botao{
    margin-top: 0px;
    margin-right: 10px;
}

.listar{
    display: flex;
    flex-direction: column;
    border-style: none;
}