body{
    background-image: linear-gradient(#fdfdfd, rgb(40, 180, 170));
    background-repeat: no-repeat;
    width: 1080px;
    height: 640px;
}

.calculadora{
    background-color: rgb(70, 110, 170);
    font-size: 2rem;
    padding: 20px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(40, 180, 170);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: fixed;
    transform: translate(-50%, -50%);
}/*Fechamento calculadora*/

.tela{
    background-color: rgb(49, 186, 213);
    color: rgb(0, 0, 0);
    height: 80px;
    width: 93%;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 20px;
    /* font-size: 3rem; */
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.configBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha{
    display: flex;
    margin-top: 5px;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 7px;
    color: rgb(70, 110, 170);
    background-color: whitesmoke;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid rgb(40, 180, 170);
}

button:hover{
    background-color: rgba(49, 242, 158, 0.35);
}

.limpar{
    width: 120px;
    height: 50px;
}